__data/*.json
_site

frontend/build-*

backend/src/config.mjs
bin/run-backend-dev

yarn.lock

node_modules
.eslintcache

**/.yarn/*
!**/.yarn/patches
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/version
yarn-error.log

backend/lib
backend/db/

TAGS
*.swo
*.swp
