__data/*.json
_site

frontend/build-*

backend/src/config-dev.mjs
backend/src/config-tst.mjs
backend/src/config-acc.mjs
backend/src/config-prd.mjs
bin/run-backend-dev

node_modules
.eslintcache

**/.yarn/*
!**/.yarn/patches
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/sdks
!**/.yarn/version
yarn-error.log

backend/lib
backend/db/
bin/scripts/lib/

TAGS
*.swo
*.swp
