---
layout: mylayout.njk
title:
---
<div class='page-home'>

  <div class='header'>
    [HOME]
    <p>({{ fb.environment }} omgeving)</p>
  </div>

  <div class='sidebar'>
    <p>sidebar</p>
    <p>filters ...</p>
  </div>

  <div class='main'>
    <div class='search'>
      <input type=text>
      zoeken
    </div>

    <div class='fonds-wrapper'>
      {% for i in fb.fbdata %}
      <a href="/fonds/{{ i.uuid }}.html">
        <div class='fonds'>
          <div class='x__img'>
            <img src='/img/gracht.jpg'>
          </div>
          <div class='x__text'>
            <div class='x__naam-organisatie'>
              {{i.naam_organisatie}}
            </div>
            <div class='x__categorie'>
              {{i.categorie}}
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
