---
title:
---

<!doctype html>
<html>
  <head>
    <link rel='stylesheet' href='/bundle.css'>
  </head>

  <body>
    <div class='main'>
      <div class='x__title'>
      </div>

      <div class='x__data'>
        {{ content | safe }}
      </div>
    </div>
  </body>
</html>
